#gr{
     background-size: cover;
     background-attachment: fixed;
     
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 72px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    opacity: .8;
}
body{
    animation: blink 1ms infinite;
    background-size: fixed;
    
    background-attachment: fixed;
    backface-visibility: visible;
   
   
}


